LeagueDeleter/bin/
LeagueDeleter/obj/
LeagueDeleter/publish/
LeagueDeleter/publish/LeagueDelete.application
LeagueDeleter/publish/setup.exe
*.vsidx
.vs/LeagueDelete/v17/.suo
.vs/LeagueDelete
.vs/ProjectEvaluation

LeagueDeleter/Properties/PublishProfiles/FolderProfile.pubxml.user
